* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.body{
    background: #F4D9DC;
}

.row{
    display: -ms-grid;
    display: grid;
    height: 80vw;
    grid-template-columns : auto auto;
    grid-template-rows: auto auto ;
    gap: 10px;
    background-color: #F4D9DC;
    padding-top: 2%;
 
}
.banner{
    background-image: url(header.jpg);
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-size:cover;
    /* border-radius: 0 0 40% 40%/ 0% 0% 60% 60% ; */
    width: 100%;
    height: 10vw;
    position: sticky;
    overflow: hidden;
}

.header{
    background-color: #F4D9DC;
    font-family: 'Amatic SC', cursive;
    width: 100%;
    height: 10vw;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

.header h1{
color: #795E5B;
padding-top: 2vw;
text-align: center;
font-weight: bold;
font-size: 5vw;
text-shadow: 1px 1px 2px #F2B4BC;
}

.listInput {
    position: relative;
    vertical-align: center;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}
.listInput #inputArea{
    position:relative;
}

.listInput #userInput{
    width: 100%;
    line-height: 2.5;
    opacity: 0.6;
    border: 1px solid #B2767D;
    border-radius: 100px;
    padding-left: 5%;
}

.listInput #inputBtn{
    position: absolute;
    color: #B2767D;
    right:8px;
    font-size: 2em;
    transform: translateY(-50%);
    top: 50%;
}