* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.body{
    background: #F4D9DC;
}

.row{
    display: -ms-grid;
    display: grid;
    height: 80vw;
    grid-template-columns : auto auto;
    grid-template-rows: auto auto ;
    gap: 10px;
    background-color: #F4D9DC;
    padding-top: 2%;
 
}
.banner{
    overflow: hidden;
    max-height: 200px;
    position: relative;

}

.header{
    background-color: #F4D9DC;
    font-family: 'Amatic SC', cursive;
    width: 100%;
    height: 10vw;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

.header h1{
    color: #795E5B;
    /* padding-top: 2vw; */
    text-align: center;
    font-weight: bold;
    font-size: 5vw;
    text-shadow: 1px 1px 2px #F2B4BC;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.listInput {
    position: relative;
    vertical-align: center;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}
.listInput #inputArea{
    position:relative;
}

.listInput #userInput{
    width: 100%;
    line-height: 2.5;
    opacity: 0.6;
    border: 1px solid #B2767D;
    border-radius: 100px;
    padding-left: 5%;
}

.listInput #inputBtn{
    position: absolute;
    color: #B2767D;
    right:8px;
    font-size: 2em;
    transform: translateY(-50%);
    top: 50%;
}
.listInput #inputBtn:hover{
color:black;
}

.todoList {
    position: relative;
    vertical-align: center;
    margin-left: 5px;

}

.todoList #emptyMsg {
    line-height: 2.5rem;
    background-color: #B2767D;
    border-radius: 100px;
    width: 100%;
    color: white;
    font-family: 'Hubballi', cursive;
    text-align: center;
    font-size: 150%;
   }

.todoList li{
    line-height: 2.5rem;
    background-color: #B2767D;
    border-radius: 100px;
    width: 100%;
    color: white;
    font-family: 'Hubballi', cursive;
    text-align: left;
    font-size: 150%;
    padding-left: 5%;
    margin-bottom: 4px;
    position: relative;
    list-style: none;
}

.todoList li:hover{
     cursor:pointer;   
     opacity: 0.7;
}

.todoList .checked{
    color: #676767;
    background-color: #B4B4B4;
    opacity: 0.7;;
    transition: 0.5s;
    text-decoration: line-through;
}

.todoList #delBtn{
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    opacity: 0.8;
    font-size: 1em;
    right: 5px;
    transform: translateY(-50%);
    top: 50%;
}

.todoList #delBtn:hover{
    color: black;
}
